In [1]:
import pandas as pd

In [2]:
import numpy as np
from datetime import datetime

In [3]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8), 
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [4]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.660229
2011-01-05    0.587414
2011-01-07    1.341218
2011-01-08    0.735190
2011-01-10   -0.925494
2011-01-12   -0.452344
dtype: float64

Timestamp可以在任何地方用datetime对象进行替换。
1 Indexing, Selection, Subsetting（索引，选择，取子集）

当我们基于标签进行索引和选择时，时间序列就像是pandas.Series：

In [5]:
stamp=ts.index[0]

In [6]:
stamp

Timestamp('2011-01-02 00:00:00')

In [7]:
ts

2011-01-02   -0.660229
2011-01-05    0.587414
2011-01-07    1.341218
2011-01-08    0.735190
2011-01-10   -0.925494
2011-01-12   -0.452344
dtype: float64

In [8]:
ts['1/10/2011']

-0.9254937159054832

In [9]:
ts['20110110']

-0.9254937159054832

In [10]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    1.099553
2000-01-02    2.360931
2000-01-03   -3.106176
2000-01-04    0.640587
2000-01-05    1.408061
2000-01-06   -0.143561
2000-01-07    1.032284
2000-01-08    1.194340
2000-01-09    0.457295
2000-01-10    2.458936
2000-01-11   -0.324114
2000-01-12   -0.299717
2000-01-13   -1.048352
2000-01-14    1.258133
2000-01-15    1.122814
2000-01-16   -0.767944
2000-01-17   -0.091633
2000-01-18    1.876012
2000-01-19   -1.185616
2000-01-20   -0.173735
2000-01-21    1.551807
2000-01-22    0.668425
2000-01-23    1.155424
2000-01-24   -2.696406
2000-01-25    0.173123
2000-01-26   -0.044839
2000-01-27    0.373182
2000-01-28   -2.474476
2000-01-29   -0.372525
2000-01-30    0.501065
                ...
2002-08-28   -0.831156
2002-08-29   -0.347788
2002-08-30    2.504680
2002-08-31    0.632391
2002-09-01    0.898157
2002-09-02    1.003212
2002-09-03    0.841421
2002-09-04   -0.187091
2002-09-05    0.115729
2002-09-06    1.952644
2002-09-07    0.245321
2002-09-08    0.265476
2002-09-09   -1.413946
2002-09-10   -0.852209
2002-09-11    1.153773
2002-09-12   -0.242121
2002-09-13   -0.563884
2002-09-14   -0.113240
2002-09-15    0.824067
2002-09-16    0.198635
2002-09-17   -0.140761
2002-09-18   -0.211278
2002-09-19    0.887567
2002-09-20    1.409473
2002-09-21   -0.052236
2002-09-22   -2.551213
2002-09-23    1.496751
2002-09-24   -0.837052
2002-09-25   -0.905184
2002-09-26    0.375294
Freq: D, Length: 1000, dtype: float64

利用datetime进行切片（slicing）也没问题

In [11]:
ts[datetime(2011, 1, 7)]

1.3412176298549399

In [12]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', 
                          '1/2/2000', '1/3/2000'])

In [13]:
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [14]:
我们通过is_unique属性来查看index是否是唯一值：

SyntaxError: invalid character in identifier (<ipython-input-14-6cce74493b1f>, line 1)

In [15]:
dup_ts.index.is_unique

False

In [16]:
dup_ts['1/3/2000'] # not duplicated

4

In [17]:
dup_ts['1/2/2000'] # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

假设我们想要聚合那些有重复时间戳的数据，一种方法是用groupby，设定level=0：

In [18]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [19]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64